body {margin-top:1.0em;background-color: #ffffff;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#000000;}
#container-fluid {padding:50px;}
h1 {font-size: 2.2em; margin-bottom: 3px; }
h1 .small {font-size: 0.4em; }
h1 a { text-decoration: none;color:#0456C9;}
h2 { font-size: 1.5em;}
h3 {}
p,ul,li{font-size:13px;}
a {color:#0456C9;}
.description { font-size: 0.9em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
.prepend-top{margin-top:12px;}
.prepend-top2{margin-top:24px;}
.prepend-a-lot{margin-top:100px;}
